div.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    div.image-content {
        margin: 5px;
        border: 1px solid var(--border);
        width: 550px;
        &:is(.straw) {
            width: 320px;
        }
        &:hover, &:focus-within {
            border: 1px solid var(--gradientTop);
        }
        a > img, a img, >img {
            width: 100%;
            height: auto;
        }
        div.image-text {
            padding: 10px;
            text-align: center;
        }
        @media (max-width: 600px) {
            width: auto;
            &:is(.straw) {
                width: auto;
            }
            >img {
                width: auto;
            }
        }
    }
}