<!DOCTYPE html>
<html>
  <head>
    <title>Bozone | [#title#]</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    [pagetype=404]<base href="https://booz.neocities.org" target="_self">[/pagetype=]
    <!-- embed -->
    <meta property="og:image" content="https://neocities.org/site_screenshots/27/06/booz/[#path#].540x405.webp">
    <meta property="og:title" content="bozo corner | [#title#]">
    <meta property="twitter:card" content="summary_large_image">
    <!-- favicons -->
    <link rel="icon" type="image/png" sizes="32x32" href="[pagetype!=404][#root#][/pagetype!=]globals/images/favicons/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="[pagetype!=404][#root#][/pagetype!=]globals/images/favicons/favicon-16.png">
    <link rel="icon" type="image/x-icon" href="[pagetype!=404][#root#][/pagetype!=]globals/images/favicons/favicon-full.ico">
    <!-- styles -->
    <link href="[#root#]globals/css/fonts/fonts.css" rel="stylesheet" type="text/css" media="all">
    <link href="[#root#]globals/css/cyanobacteria.css" rel="stylesheet" type="text/css" media="all">
    <link href="[#root#]globals/css/common.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>
    <!-- main -->
    <div class="container">
      <header>
        <span>[#headertitle#]</span>
      </header>
      <div class="small">
        <nav>
          <div>navigation</div>
          <a href="[pagetype!=404][#root#][/pagetype!=]home/index.html">home</a>
          <a href="[pagetype!=404][#root#][/pagetype!=]about/index.html">about</a>
          <a href="[pagetype!=404][#root#][/pagetype!=]links/index.html">links</a>
          <a href="[pagetype!=404][#root#][/pagetype!=]writing/index.html">writing</a>
          <!--<a href=""></a>-->
        </nav>
        <h2>stuffs</h2>
        <div class="grid">
          <a href="https://ribo.zone/">
            <img src="[pagetype!=404][#root#][/pagetype!=]globals/images/webstuff/88x31/sites/ribozone.gif" alt="ribozone" loading="lazy">
          </a>
          <a href="https://lyra.horse/">
            <img src="[pagetype!=404][#root#][/pagetype!=]globals/images/webstuff/88x31/sites/lyra.horse.png" alt="lyrahorse" loading="lazy">
          </a>
          <a href="https://reduxflakes.nekoweb.org/">
            <img src="[pagetype!=404][#root#][/pagetype!=]globals/images/webstuff/88x31/sites/reduc.gif">
          </a>
          <a href="https://dimden.dev/">
            <img src="https://dimden.dev/services/images/88x31.gif" alt="dimden">
          </a>
          <a href="https://agar.neocities.org/">
            <img src="[pagetype!=404][#root#][/pagetype!=]globals/images/webstuff/88x31/sites/agario.png" alt="agar.io">
          </a>
          <a href="https://catppuccin.com/">
            <img src="[pagetype!=404][#root#][/pagetype!=]globals/images/webstuff/88x31/sites/catppuccin.gif" alt="catppucino">
          </a>
          <a href="https://lensdeer.neocities.org/">
            <img src="[pagetype!=404][#root#][/pagetype!=]globals/images/webstuff/88x31/sites/lensdeer.gif" alt="lensdeer">
          </a>
          <a href="https://fulvern.neocities.org/">
            <img src="[pagetype!=404][#root#][/pagetype!=]globals/images/webstuff/88x31/sites/fulvern.gif" alt="fulvern">
          </a>
          <a href="https://milkyway.moe/">
            <img src="[pagetype!=404][#root#][/pagetype!=]globals/images/webstuff/88x31/sites/MiLKYStelle.gif" alt="milky way">
          </a>
          <a href="https://sadgrl.online/">
            <img src="[pagetype!=404][#root#][/pagetype!=]globals/images/webstuff/88x31/sites/sadgrlonline.gif" alt="sadgirlonline">
          </a>
          <a href="https://starrs.neocities.org/">
            <img src="[pagetype!=404][#root#][/pagetype!=]globals/images/webstuff/88x31/sites/tiny_space.gif" alt="tiny space has stars">
          </a>
          <a href="https://ohmi.art/">
            <img src="[pagetype!=404][#root#][/pagetype!=]globals/images/webstuff/88x31/sites/vertpush.gif" alt="vertplush">
          </a>
          <a href="https://imlexicon.com/">
            <img src="[pagetype!=404][#root#][/pagetype!=]globals/images/webstuff/88x31/sites/lexicon.gif" alt="lexicon">
          </a>
          <a href="https://neonaut.neocities.org/">
            <img src="[pagetype!=404][#root#][/pagetype!=]globals/images/webstuff/88x31/sites/neonaut.png" alt="neonaut">
          </a>
          <a href="https://classic.minecraft.net/">
            <img src="[pagetype!=404][#root#][/pagetype!=]globals/images/webstuff/88x31/sites/minecraft.jpeg" alt="classic minecraft">
          </a>
          <a href="https://neocities.org/">
            <img src="[pagetype!=404][#root#][/pagetype!=]globals/images/webstuff/88x31/sites/neocities.gif" alt="neocities">
          </a>
          <!--<a href=""><img src="[pagetype!=404][#root#][/pagetype!=]globals/images/webstuff/88x31/sites/"></a>-->
        </div>
        <nav>
          <div>
            <img src="[pagetype!=404][#root#][/pagetype!=]globals/images/bozone.gif" alt="bozone" loading="lazy" class="nobutt">
            <textarea class="linked" readonly="readonly" style="width:250px;height:86px;resize:none;scrollbar-gutter:stable;"><a href="https://booz.neocities.org/"><img src="https://booz.neocities.org/globals/images/bozone.gif" alt="the bo-zone" loading="lazy"></a></textarea>
          </div>
        </nav>
      </div>
      <!-- main content -->
      <section class="half">
        [#content#]
      </section>
    </div>
    <!-- footer -->
    <footer>
      <div id="blinkies">
        <img src="[pagetype!=404][#root#][/pagetype!=]globals/images/webstuff/blinkies/videos.gif" alt="" loading="lazy">
        <img src="[pagetype!=404][#root#][/pagetype!=]globals/images/webstuff/blinkies/carrionchild.gif" alt="" loading="lazy">
        <img src="[pagetype!=404][#root#][/pagetype!=]globals/images/webstuff/blinkies/videoscommunity.gif" alt="" loading="lazy">
        <img src="[pagetype!=404][#root#][/pagetype!=]globals/images/webstuff/blinkies/roblox.gif" alt="" loading="lazy">
        <img src="[pagetype!=404][#root#][/pagetype!=]globals/images/webstuff/blinkies/ihaveanuzi.gif" alt="" loading="lazy">
        <img src="[pagetype!=404][#root#][/pagetype!=]globals/images/webstuff/blinkies/sea.gif" alt="" loading="lazy">
        <img src="[pagetype!=404][#root#][/pagetype!=]globals/images/webstuff/blinkies/toomanytabs.gif" alt="" loading="lazy">
        <img src="[pagetype!=404][#root#][/pagetype!=]globals/images/webstuff/blinkies/fortnitegirl.gif" alt="" loading="lazy">
        <img src="[pagetype!=404][#root#][/pagetype!=]globals/images/webstuff/blinkies/alltalkandnobite.gif" alt="" loading="lazy">
        <img src="[pagetype!=404][#root#][/pagetype!=]globals/images/webstuff/blinkies/undertale.gif" alt="" loading="lazy">
      </div>
      <hr>
      <img src="[pagetype!=404][#root#][/pagetype!=]globals/images/canbo.png" alt="canni boozday" loading="lazy">
      <br>Est. 2021<br>
      <span>Layout adapted from cyanobacteria by <a href="https://ribo.zone/free/layouts/">ribo.zone</a>
      </span>
      <br>
      <p>Last Updated: 16/04/2026
    </footer>
    [pagetype=404]<script src="[#root#]globals/js/not_found.js"></script>[/pagetype=]
    <script src="[pagetype!=404][#root#][/pagetype!=]globals/js/common.js"></script>
  </body>
</html>