<!DOCTYPE html>
<html>
  <head>
    <title>Bozone | [#title#]</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- embed -->
    <meta property="og:image" content="https://neocities.org/site_screenshots/27/06/booz/[#path#].540x405.webp">
    <meta property="og:title" content="bozo corner | [#title#]">
    <meta property="twitter:card" content="summary_large_image">
    <!-- favicons -->
    <link rel="icon" type="image/png" sizes="32x32" href="[pagetype!=404][#root#][/pagetype!=]globals/images/favicons/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="[pagetype!=404][#root#][/pagetype!=]globals/images/favicons/favicon-16.png">
    <link rel="icon" type="image/x-icon" href="[pagetype!=404][#root#][/pagetype!=]globals/images/favicons/favicon-full.ico">
    <!-- styles -->
    <link href="[#root#]globals/css/fonts/fonts.css" rel="stylesheet" type="text/css" media="all">
    <link href="[#root#]globals/css/cyanobacteria.css" rel="stylesheet" type="text/css" media="all">
    <link href="[#root#]globals/css/common.css" rel="stylesheet" type="text/css" media="all">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.9.1/fonts/remixicon.css" rel="stylesheet"/>
  </head>
  <body>
    <!-- main -->
    <div class="container">
      <header>
        <span>[#headertitle#]</span>
      </header>
      <div class="small">
        <nav>
          <div>navigation</div>
          <a href="[pagetype!=404][#root#][/pagetype!=]home/index.html">home</a>
          <a href="[pagetype!=404][#root#][/pagetype!=]about/index.html">about</a>
          <a href="[pagetype!=404][#root#][/pagetype!=]links/index.html">links</a>
          <a href="[pagetype!=404][#root#][/pagetype!=]writing/index.html">writing</a>
          <!--<a href=""></a>-->
        </nav>
      </div>
      <!-- main content -->
        [#content#]
    </div>
    <!-- footer -->
    <footer>
      <img src="[pagetype!=404][#root#][/pagetype!=]globals/images/canbo.png" alt="canni boozday" loading="lazy">
      <br>Est. 2021<br>
      <span>Layout adapted from cyanobacteria by <a href="https://ribo.zone/free/layouts/">ribo.zone</a>
      </span>
      <br>
      <p>Last Updated: 16/04/2026
    </footer>
    <script src="[pagetype!=404][#root#][/pagetype!=]globals/js/common.js"></script>
  </body>
</html>